/* .main-compo{
    display: grid;
    grid-template-columns: 1fr 20fr;
    padding-top: 1em;
    grid-template-rows: 90vh;
    width: 70vw;
}

.right-compo{
    padding: 1rem;
} */    

.main-compo{
    display: flex;
    flex-direction: row;
    height: 50vh;
}
.right-compo{
    max-width: 90vw;
}